@model IEnumerable<pubsProject.Models.sp_display_Result>

@{
    ViewBag.Title = "ShowBooks";
}

<h2>ShowBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("Buy", "Checkout")
        </td>
    </tr>
}

</table>
